{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  <h3>Welcome</h3>

  <hr> <br>

    <div class="col-md-3">
      <a href="homework">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/woman.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Data Base
            </h5>
            Add info about bad boys. You can see data and add comments.
          </div>
        </div>
      </a>
    </div>
   
  </div>
  <br><br><br>
  </div> 


</section>
{% endblock content %}